<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee93.coc.dao.FileDao">
    <insert id="saveFile" parameterType="fileEntity">
        INSERT INTO files (post_id, original_name, save_name, file_path, file_size)
        VALUES (#{postId}, #{originalName}, #{saveName}, #{filePath}, #{fileSize})
    </insert>

    <insert id="saveThumbnail" parameterType="thumbnailEntity">
        INSERT INTO thumbnail(post_id, thumbnail_save_name, thumbnail_path, thumbnail_size)
        VALUES (#{postId}, #{thumbnailSaveName}, #{thumbnailPath}, #{thumbnailSize})
    </insert>
</mapper>