<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee93.coc.dao.PostDao">
    <insert id="registerPost" parameterType="postEntity">
        INSERT INTO posts (category_id, account_id, post_title, post_content, posts_type)
        VALUES (#{categoryId}, #{accountId}, #{postTitle}, #{postContent}, #{postsType})
    </insert>
</mapper>